@model Obliviate.Models.Stock

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Symbol" />
            <div class="form-group">
                <label asp-for="ReportedCurrency" class="control-label"></label>
                <input asp-for="ReportedCurrency" class="form-control" />
                <span asp-validation-for="ReportedCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cik" class="control-label"></label>
                <input asp-for="Cik" class="form-control" />
                <span asp-validation-for="Cik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FillingDate" class="control-label"></label>
                <input asp-for="FillingDate" class="form-control" />
                <span asp-validation-for="FillingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptedDate" class="control-label"></label>
                <input asp-for="AcceptedDate" class="form-control" />
                <span asp-validation-for="AcceptedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarYear" class="control-label"></label>
                <input asp-for="CalendarYear" class="form-control" />
                <span asp-validation-for="CalendarYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Revenue" class="control-label"></label>
                <input asp-for="Revenue" class="form-control" />
                <span asp-validation-for="Revenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostOfRevenue" class="control-label"></label>
                <input asp-for="CostOfRevenue" class="form-control" />
                <span asp-validation-for="CostOfRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrossProfit" class="control-label"></label>
                <input asp-for="GrossProfit" class="form-control" />
                <span asp-validation-for="GrossProfit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrossProfitRatio" class="control-label"></label>
                <input asp-for="GrossProfitRatio" class="form-control" />
                <span asp-validation-for="GrossProfitRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResearchAndDevelopmentExpenses" class="control-label"></label>
                <input asp-for="ResearchAndDevelopmentExpenses" class="form-control" />
                <span asp-validation-for="ResearchAndDevelopmentExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralAndAdministrativeExpenses" class="control-label"></label>
                <input asp-for="GeneralAndAdministrativeExpenses" class="form-control" />
                <span asp-validation-for="GeneralAndAdministrativeExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingAndMarketingExpenses" class="control-label"></label>
                <input asp-for="SellingAndMarketingExpenses" class="form-control" />
                <span asp-validation-for="SellingAndMarketingExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingGeneralAndAdministrativeExpenses" class="control-label"></label>
                <input asp-for="SellingGeneralAndAdministrativeExpenses" class="form-control" />
                <span asp-validation-for="SellingGeneralAndAdministrativeExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherExpenses" class="control-label"></label>
                <input asp-for="OtherExpenses" class="form-control" />
                <span asp-validation-for="OtherExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingExpenses" class="control-label"></label>
                <input asp-for="OperatingExpenses" class="form-control" />
                <span asp-validation-for="OperatingExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostAndExpenses" class="control-label"></label>
                <input asp-for="CostAndExpenses" class="form-control" />
                <span asp-validation-for="CostAndExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestIncome" class="control-label"></label>
                <input asp-for="InterestIncome" class="form-control" />
                <span asp-validation-for="InterestIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestExpense" class="control-label"></label>
                <input asp-for="InterestExpense" class="form-control" />
                <span asp-validation-for="InterestExpense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepreciationAndAmortization" class="control-label"></label>
                <input asp-for="DepreciationAndAmortization" class="form-control" />
                <span asp-validation-for="DepreciationAndAmortization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ebitda" class="control-label"></label>
                <input asp-for="Ebitda" class="form-control" />
                <span asp-validation-for="Ebitda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ebitdaratio" class="control-label"></label>
                <input asp-for="Ebitdaratio" class="form-control" />
                <span asp-validation-for="Ebitdaratio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingIncome" class="control-label"></label>
                <input asp-for="OperatingIncome" class="form-control" />
                <span asp-validation-for="OperatingIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingIncomeRatio" class="control-label"></label>
                <input asp-for="OperatingIncomeRatio" class="form-control" />
                <span asp-validation-for="OperatingIncomeRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalOtherIncomeExpensesNet" class="control-label"></label>
                <input asp-for="TotalOtherIncomeExpensesNet" class="form-control" />
                <span asp-validation-for="TotalOtherIncomeExpensesNet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeBeforeTax" class="control-label"></label>
                <input asp-for="IncomeBeforeTax" class="form-control" />
                <span asp-validation-for="IncomeBeforeTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeBeforeTaxRatio" class="control-label"></label>
                <input asp-for="IncomeBeforeTaxRatio" class="form-control" />
                <span asp-validation-for="IncomeBeforeTaxRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeTaxExpense" class="control-label"></label>
                <input asp-for="IncomeTaxExpense" class="form-control" />
                <span asp-validation-for="IncomeTaxExpense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetIncome" class="control-label"></label>
                <input asp-for="NetIncome" class="form-control" />
                <span asp-validation-for="NetIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetIncomeRatio" class="control-label"></label>
                <input asp-for="NetIncomeRatio" class="form-control" />
                <span asp-validation-for="NetIncomeRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eps" class="control-label"></label>
                <input asp-for="Eps" class="form-control" />
                <span asp-validation-for="Eps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Epsdiluted" class="control-label"></label>
                <input asp-for="Epsdiluted" class="form-control" />
                <span asp-validation-for="Epsdiluted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightedAverageShsOut" class="control-label"></label>
                <input asp-for="WeightedAverageShsOut" class="form-control" />
                <span asp-validation-for="WeightedAverageShsOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightedAverageShsOutDil" class="control-label"></label>
                <input asp-for="WeightedAverageShsOutDil" class="form-control" />
                <span asp-validation-for="WeightedAverageShsOutDil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalLink" class="control-label"></label>
                <input asp-for="FinalLink" class="form-control" />
                <span asp-validation-for="FinalLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
