@model IEnumerable<Obliviate.Models.Stock>

@{
  ViewData["Title"] = "Index";
}


<div class="stocks">
  <div class="ranking">
    <h2 class="ranking_header">Daily Winners</h2>
  </div>
  <p class="ranking h-2">Daily Losers</p>
  <div class="ranking list">
    @foreach (var stock in Model.OrderByDescending(m => m.ChangePercent).Take(5))
    {
      <div class="ranking_element list_link">@stock.CompanyName</div>
    }
  </div>
</div>
