@{
    ViewData["Title"] = "Manage";
}

@using (Html.BeginForm("Update", "Stocks", FormMethod.Post)) {
    <div class="controls">
        <button type="submit" class="button">Update</button>
    </div>
}

<!-- Test -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
