@model IEnumerable<Obliviate.Models.Stock>

@{
    ViewData["Title"] = "Manage";
}

<link rel="stylesheet" href="~/css/stocks/search.css" asp-append-version="true" />



<div class="list search_list">
    <div class="search_query">Results for: @ViewBag.Message</div>
    @foreach(var item in Model)
    {
        <a class="search_link list_link" asp-controller="Stocks" asp-action=@item.Symbol >
            <img class="list_image" src="@Html.DisplayFor(modelItem => item.Image)">
            <div class="search_container">
                <div class="search_text">@Html.DisplayFor(modelItem => item.CompanyName)</div>
                <div class="list_symbol">@Html.DisplayFor(modelItem => item.Symbol)</div>
            </div>
        </a>
    }
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
