@model Obliviate.Models.Stock
@{
    ViewData["Title"] = "Symbol";
}

<link rel="stylesheet" href="~/css/stocks/symbol.css" asp-append-version="true" />

<div class="symbol">

    <div class="stock flex_swap">

        <div class="stock_symbol stock_item">
            <a href="https://www.apple.com" target="_" class="stock_logo">
                <img src="~/img/favicon.jpg">
            </a>
            <div class="stock_info">
                <div class="stock_name">@Model.Symbol</div>
                <div class="stock_ticker">AAPL</div>
                <div class="separator">
                    <div class="separator_line"></div>
                </div>
                <div class="stock_change_container">
                    <div class="stock_price_container">
                        <i class="fa-solid fa-dollar-sign stock_price_icon"></i>
                        &nbsp<div class="stock_price">163.56</div>
                    </div>
                    <div class="stock_percent_container">
                        <i class="fa-solid fa-arrow-trend-up stock_percent_icon flex_box"></i>
                        <div class="stock_percent">+14.43 (7.23%)</div>
                    </div>
                </div>
                <div class="stock_after flex">
                    <div class="stock_after_price">After Hours: $156.89</div>
                    <div class="stock_after_container flex">
                        <i class="fa-solid fa-arrow-trend-down stock_percent_icon stock_after_icon flex_box"></i>
                        <div class="stock_after_percent">-9.43 (-5.63%)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="metrics stock_item">
        </div>

        <div class="evaluations stock_item">
            <div class="evaluations_first">
                <div class="evaluations_container">
                    <div class="evaluations_headers evaluations_wrapper">
                        <div class="evaluations_number">0.45</div>
                        <div class="evaluations_header">TA-R</div>
                    </div>
                    <div class="evaluations_headers evaluations_wrapper">
                        <div class="evaluations_number evaluations_eye_num">0.635</div>
                        <div class="evaluations_header evaluations_eye">EYE Rating</div>
                    </div>
                    <div class="evaluations_headers evaluations_wrapper">
                        <div class="evaluations_number">0.87</div>
                        <div class="evaluations_header">FA-R</div>
                    </div>
                </div>
                <div class="evaluations_bar">
                    <div class="evaluations_progress"></div>
                </div>
                <div class="evaluations_description">
                    <div class="evaluations_text">0</div>
                    <div class="evaluations_text">0.2</div>
                    <div class="evaluations_text">0.4</div>
                    <div class="evaluations_text">0.6</div>
                    <div class="evaluations_text">0.8</div>
                    <div class="evaluations_text">1</div>
                </div>
            </div>
            <div class="separator_vertical"></div>
            <div class="evaluations_headers evaluations_wrapper">
                <div class="evaluations_number evaluations_eye_num">0.786</div>
                <div class="evaluations_header evaluations_eye">Analysts Rating</div>
            </div>
        </div>

    </div>
    

    <div class="chart_competitors flex_swap">
        <div class="chart stock_item">
            <canvas id="stock_chart"></canvas>
        </div>
        <div class="competitors stock_item list">
            <a class="list_nolink list_headers">
                <div class="list_img">
                    <img src="~/img/favicon.png">
                </div>
                <div class="list_text_container">Company</div>
                <div class="list_price_container">Price</div>
                <div class="list_attribute_container">P/E</div>
                <div class="list_attribute_container">EPS</div>
            </a>
            <a class="list_link">
                <div class="list_img">
                    <img src="~/img/favicon.jpg">
                </div>                
                <div class="list_text_container">
                    <div class="list_ticker">AAPL</div>
                    <div class="list_name">Apple Inc.</div>
                </div>
                <div class="list_price_container flex">
                    <i class="fa-solid fa-arrow-trend-up stock_percent_icon flex_box"></i>
                    <div class="list_price_wrapper">
                        <div class="list_price">$156.83</div>
                        <div class="stock_percent">+14.43 (7.23%)</div>
                    </div>
                </div>
                <div class="list_attribute_container">
                    <div class="list_attribute">23.15</div>
                </div>
                <div class="list_attribute_container">
                    <div class="list_attribute">$4.12</div>
                </div>
            </a>
            <a class="list_link">
                <div class="list_img">
                    <img src="~/img/favicon.jpg">
                </div>                
                <div class="list_text_container">
                    <div class="list_ticker">MSFT</div>
                    <div class="list_name">Microsoft Inc.</div>
                </div>
                <div class="list_price_container flex">
                    <i class="fa-solid fa-arrow-trend-up stock_percent_icon flex_box"></i>
                    <div class="list_price_wrapper">
                        <div class="list_price">$156.83</div>
                        <div class="stock_percent">+14.43 (7.23%)</div>
                    </div>
                </div>
                <div class="list_attribute_container">
                    <div class="list_attribute">19.85</div>
                </div>  
                <div class="list_attribute_container">
                    <div class="list_attribute">$19.83</div>
                </div>     
            </a>
        </div>
    </div>


    <div class="separator">
        <div class="separator_line"></div>
        <div class="separator_text">Fundamental Charts</div>
        <div class="separator_line"></div>
    </div>
    <div class="statistics flex_swap">
        <div class="statistics_chart stock_item">
            <canvas id="chart_margin" ></canvas>
        </div>
        <div class="statistics_chart stock_item">
            <canvas id="chart_ratio" ></canvas>
        </div>
        <div class="statistics_chart stock_item">
            <canvas id="chart_dividend" ></canvas>
        </div>
    </div>


    <div class="separator">
        <div class="separator_line"></div>
        <div class="separator_text">Financial Overview</div>
        <div class="separator_line"></div>
    </div>
    <div class="financials stock_item">
        <div class="financials_config">
            <div class="financials_controls_container">
                <div class="separator">
                    <div class="separator_line"></div>
                    <div class="separator_text">Type</div>
                    <div class="separator_line"></div>
                </div>
                <div class="financials_controls flex">
                    <div class="financial_control active">Quick View</div>
                    <div class="financial_control">Income Statement</div>
                    <div class="financial_control">Balance Sheet</div>
                    <div class="financial_control">Cashflow</div>
                </div>
            </div>
            <div class="financials_display_container">
                <div class="separator">
                    <div class="separator_line"></div>
                    <div class="separator_text">Theme</div>
                    <div class="separator_line"></div>
                </div>
                <div class="financials_display flex">
                    <div class="financial_display active">Normal</div>
                    <div class="financial_display">Colored</div>
                </div>
            </div>
        </div>
        <div class="financials_row financials_years flex">
            <div class="financials_cell financials_sideheader financials_topheader"></div>
            <div class="financials_cell financials_header financials_topheader"></div>
            <div class="financials_cell financials_header financials_topheader">2015</div>
            <div class="financials_cell financials_header financials_topheader">2016</div>
            <div class="financials_cell financials_header financials_topheader">2017</div>
            <div class="financials_cell financials_header financials_topheader">2018</div>
            <div class="financials_cell financials_header financials_topheader">2019</div>
            <div class="financials_cell financials_header financials_topheader">2020</div>
            <div class="financials_cell financials_header financials_topheader">2021</div>
            <div class="financials_cell financials_header financials_topheader">2022</div>
        </div>

        <div class="financials_view active">
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Revenues</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Revenue</div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Gross Margin</div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Profit Margin</div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
            </div>
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Expenses</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">SG&A Expenses
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">R&D Expenses
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Research and Development</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Operating Expenses</div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Operating Margin</div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
            </div>
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Earnings</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">EBITDA</div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Net Profit</div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Profit Margin</div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">EPS</div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
            </div>

        </div>
        <div class="financials_view">
            <div class="financials_row financials_divider">Revenues</div>
            <div class="financials_row flex">
                <div class="financials_cell financials_sideheader">Revenue</div>
                <div class="financial_cell">
                    <canvas class="revenue basic_chart"></canvas>
                </div>
                <div class="financials_cell financials_text dollar">238997</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
            </div>
            <div class="financials_row flex">
                <div class="financials_cell financials_sideheader">Cost of Revenues</div>
                <div class="financials_cell financials_text dollar">238997</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
            </div>
            <div class="financials_row flex">
                <div class="financials_cell financials_sideheader">Gross Margin</div>
                <div class="financials_cell financials_text dollar">238997</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
            </div>
            <div class="financials_row flex">
                <div class="financials_cell financials_sideheader">SG&A Expenses</div>
                <div class="financials_cell financials_text dollar">238997</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
            </div>
            <div class="financials_divider">
            </div>
            <div class="financials_row flex">
                <div class="financials_cell financials_sideheader">R&D Expenses</div>
                <div class="financials_cell financials_text dollar">238997</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
                <div class="financials_cell financials_text dollar">238347</div>
            </div>
        </div>
        <div class="financials_view">
            <div class="">
                <div class="financials_header">Revenue</div>
                <div class="financials_text">238298</div>
            </div>
        </div>
        <div class="financials_view">
            <div class="">
                <div class="financials_header">Revenue</div>
                <div class="financials_text">238297</div>
            </div>
        </div>
    </div>

</div>


    <script src="~/js/project/symbol.js" defer></script>

<script>
    revenue1 = "";
    const revenue = document.querySelector(".revenue")
    basicChart(revenue, revenue1, "bar", "rgb(20, 150, 255)", [4, 3, 2, 1, 4, 3, 2, 1], [1, 2, 3, 4, 1, 2, 3, 4]);

</script>


