@model Obliviate.Models.Stock
@{
    ViewData["Title"] = Model.Symbol + " 140.98$ +1.41%";
}

<link rel="stylesheet" href="~/css/stocks/symbol.css" asp-append-version="true" />

<div class="symbol">

    <div class="stock flex_swap">

        <div class="stock_symbol stock_item">
            <a href="https://www.apple.com" target="_" class="stock_logo">
                <img src="~/img/favicon.jpg">
            </a>
            <div class="stock_info">
                <div class="stock_name">Apple Inc.</div>
                <div class="stock_ticker">@Model.Symbol</div>
                <div class="separator">
                    <div class="separator_line"></div>
                </div>
                <div class="stock_change_container">
                    <div class="stock_price_container">
                        <i class="fa-solid fa-dollar-sign stock_price_icon"></i>
                        &nbsp<div class="stock_price">163.56</div>
                    </div>
                    <div class="stock_percent_container">
                        <i class="fa-solid fa-arrow-trend-up stock_percent_icon flex_box"></i>
                        <div class="stock_percent">+14.43 (7.23%)</div>
                    </div>
                </div>
                <div class="stock_after flex">
                    <div class="stock_after_price">After Hours: $156.89</div>
                    <div class="stock_after_container flex">
                        <i class="fa-solid fa-arrow-trend-down stock_percent_icon stock_after_icon flex_box"></i>
                        <div class="stock_after_percent">-9.43 (-5.63%)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="metrics stock_item">
        </div>

        <div class="evaluations stock_item">
            <div class="evaluations_first">
                <div class="evaluations_container">
                    <div class="evaluations_headers evaluations_wrapper">
                        <div class="evaluations_number">0.45</div>
                        <div class="evaluations_header">TA-R</div>
                    </div>
                    <div class="evaluations_headers evaluations_wrapper">
                        <div class="evaluations_number evaluations_eye_num">0.635</div>
                        <div class="evaluations_header evaluations_eye">EYE Rating</div>
                    </div>
                    <div class="evaluations_headers evaluations_wrapper">
                        <div class="evaluations_number">0.87</div>
                        <div class="evaluations_header">FA-R</div>
                    </div>
                </div>
                <div class="evaluations_bar">
                    <div class="evaluations_progress"></div>
                </div>
                <div class="evaluations_description">
                    <div class="evaluations_text">0</div>
                    <div class="evaluations_text">0.2</div>
                    <div class="evaluations_text">0.4</div>
                    <div class="evaluations_text">0.6</div>
                    <div class="evaluations_text">0.8</div>
                    <div class="evaluations_text">1</div>
                </div>
            </div>
            <div class="separator_vertical"></div>
            <div class="evaluations_headers evaluations_wrapper">
                <div class="evaluations_number evaluations_eye_num">0.786</div>
                <div class="evaluations_header evaluations_eye">Analysts Rating</div>
            </div>
        </div>

    </div>
    

    <div class="chart_competitors flex_swap">
        <div class="chart stock_item">
            <canvas id="stock_chart"></canvas>
        </div>
        <div class="competitors stock_item list">
            <a class="list_nolink list_headers">
                <div class="list_img">
                    <img src="~/img/favicon.png">
                </div>
                <div class="list_text_container">Company</div>
                <div class="list_price_container">Price</div>
                <div class="list_attribute_container">P/E</div>
                <div class="list_attribute_container">EPS</div>
            </a>
            <a class="list_link">
                <div class="list_img">
                    <img src="~/img/favicon.jpg">
                </div>                
                <div class="list_text_container">
                    <div class="list_ticker">@Model.Symbol</div>
                    <div class="list_name">Apple Inc.</div>
                </div>
                <div class="list_price_container flex">
                    <i class="fa-solid fa-arrow-trend-up stock_percent_icon flex_box"></i>
                    <div class="list_price_wrapper">
                        <div class="list_price">$156.83</div>
                        <div class="stock_percent">+14.43 (7.23%)</div>
                    </div>
                </div>
                <div class="list_attribute_container">
                    <div class="list_attribute">23.65</div>
                </div>
                <div class="list_attribute_container">
                    <div class="list_attribute">$@Model.Eps.Split(",").Last()</div>
                </div>
            </a>
            <a class="list_link">
                <div class="list_img">
                    <img src="~/img/favicon.jpg">
                </div>                
                <div class="list_text_container">
                    <div class="list_ticker">MSFT</div>
                    <div class="list_name">Microsoft Inc.</div>
                </div>
                <div class="list_price_container flex">
                    <i class="fa-solid fa-arrow-trend-up stock_percent_icon flex_box"></i>
                    <div class="list_price_wrapper">
                        <div class="list_price">$156.83</div>
                        <div class="stock_percent">+14.43 (7.23%)</div>
                    </div>
                </div>
                <div class="list_attribute_container">
                    <div class="list_attribute">19.85</div>
                </div>  
                <div class="list_attribute_container">
                    <div class="list_attribute">$19.83</div>
                </div>     
            </a>
        </div>
    </div>


    <div class="separator">
        <div class="separator_line"></div>
        <div class="separator_text">Fundamental Charts</div>
        <div class="separator_line"></div>
    </div>
    <div class="statistics flex_swap">
        <div class="statistics_chart stock_item">
            <canvas id="chart_margin" ></canvas>
        </div>
        <div class="statistics_chart stock_item">
            <canvas id="chart_ratio" ></canvas>
        </div>
        <div class="statistics_chart stock_item">
            <canvas id="chart_dividend" ></canvas>
        </div>
    </div>


    <div class="separator">
        <div class="separator_line"></div>
        <div class="separator_text">Financial Overview</div>
        <div class="separator_line"></div>
    </div>
    <div class="financials stock_item">
        <div class="financials_config">
            <div class="financials_controls_container">
                <div class="separator">
                    <div class="separator_line"></div>
                    <div class="separator_text">Type</div>
                    <div class="separator_line"></div>
                </div>
                <div class="financials_controls flex">
                    <div class="financial_control active">Quick View</div>
                    <div class="financial_control">Income Statement</div>
                    <div class="financial_control">Balance Sheet</div>
                    <div class="financial_control">Cashflow</div>
                </div>
            </div>
            <div class="financials_display_container">
                <div class="separator">
                    <div class="separator_line"></div>
                    <div class="separator_text">Theme</div>
                    <div class="separator_line"></div>
                </div>
                <div class="financials_display flex">
                    <div id="financial_normal" class="financial_display active">Normal</div>
                    <div id="financial_color" class="financial_display">Colored</div>
                </div>
            </div>
        </div>
        <div class="financials_row financials_years flex">
            <div class="financials_cell financials_sideheader financials_topheader"></div>
            <div class="financials_cell financials_header financials_topheader"></div>
            <div class="financials_cell financials_header financials_topheader">2015</div>
            <div class="financials_cell financials_header financials_topheader">2016</div>
            <div class="financials_cell financials_header financials_topheader">2017</div>
            <div class="financials_cell financials_header financials_topheader">2018</div>
            <div class="financials_cell financials_header financials_topheader">2019</div>
            <div class="financials_cell financials_header financials_topheader">2020</div>
            <div class="financials_cell financials_header financials_topheader">2021</div>
            <div class="financials_cell financials_header financials_topheader">2022</div>
        </div>

        <div class="financials_view active">
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Profile</div>
            </div>
            <div class="financials_row_container">

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Revenue
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    @foreach(var item in Model.Revenue.Split(",")) {
                        <div class="financials_cell financials_text dollar">@item</div>
                    }
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Total Assets
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Free Cash Flow
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Market Capitalization
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Dividend in %
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

            </div>
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Margins</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Gross Margin
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">EBITDA Margin
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Operating Margin
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Profit Margin
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

            </div>
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Key Ratios</div>
            </div>
            <div class="financials_row_container">

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">EPS
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">P/E Ratio
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>                
                
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">EV/Sales
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">P/B Ratio
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Current Ratio
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">LT Debt / Equity
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

            </div>
        </div>
        <div class="financials_view">
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Revenues</div>
            </div>
            <div class="financials_row_container">

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Revenue
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Cost Of Revenues
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Gross Profit
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Gross Margin
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

            </div>
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Expenses</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">SG&A Expenses
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Research & Development
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Operating Expenses
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Operating Margin
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
            </div>
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Earnings</div>
            </div>
            <div class="financials_row_container">

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">EBITDA
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Net Profit
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>                
                
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Profit Margin
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">EPS
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">P/E Ratio
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

            </div>
        </div>
        <div class="financials_view">
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Assets</div>
            </div>
            <div class="financials_row_container">

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Cash & Equivalents
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Inventory
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Receivables
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Current Assets
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Net Property, Plant & Equipment
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Total Assets
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
            </div>

            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Liabilities</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Accounts Payable
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Accrued Expenses
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>                
                
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Current Portion of LT Debt
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Total Current Liabilities
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Long-Term Debt
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Total Liabilities
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
            </div>

            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Equity</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Common Stock
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Retained Earnings
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>                
                
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Treasury Stock
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Minority Interest
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Total Equity
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
            </div>
        </div>
        <div class="financials_view">
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Operations</div>
            </div>
            <div class="financials_row_container">

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Net Income
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Depreciation & Amortization
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Other Operating Activities
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Stock-Based Compensation
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Cash from Operations
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
            </div>

            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Investing</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Capital Expenditure
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Cash Aquisitions
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Cash from Investing
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
            </div>
            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Financing</div>
            </div>
            <div class="financials_row_container">

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Total Debt Issued
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Total Debt Repaid
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>                
                
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Issuance of Common Stock
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Repurchase of Common Stock
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Stock Dividends Paid
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>

                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Cash from Financing
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
            </div>

            <div class="financials_row financials_subheader">
                <div class="financials_subheader_text">Bottom Line</div>
            </div>
            <div class="financials_row_container">
                <div class="financials_row flex">
                    <div class="financials_cell financials_sideheader">Net Change in Cash
                        <i class="fa-solid fa-question info_symbol"></i>
                    </div>
                    <div class="financial_cell">
                        <canvas class="revenue basic_chart"></canvas>
                    </div>
                    <div class="financials_cell financials_text dollar">238297</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                    <div class="financials_cell financials_text dollar">238347</div>
                </div>
                <div class="financials_row info_box flex">
                    <div class="financials_info">Selling General & Administrative</div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="~/js/project/symbol.js" defer></script>

<script>
    revenue1 = "";
    const revenue = document.querySelector(".revenue")
    basicChart(revenue, revenue1, "bar", "rgb(20, 150, 255)", [4, 3, 2, 1, 4, 3, 2, 1], [1, 2, 3, 4, 1, 2, 3, 4]);

</script>


