@import url(navbar.css);
@import url(sidebar.css);


.content {
    transform: translate(calc(var(--width-sidebar) + 5px), calc(var(--height-navbar) + 5px));
    height: calc(100% - var(--height-navbar));
    width: calc(100% - var(--width-sidebar));
}
