.navbar {
    height: var(--height-navbar);
    width: 100%;
    background: var(--color-theme);
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    transition: height 0.2s;
    z-index: 10;
}
.nav_container {
    margin-left: 5%;
}
.logo {
    height: 55px;
    filter: invert(1);
    cursor: pointer;
}
.logo.dark {
    filter: invert(0);
}

.searchbar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--color-theme-contrast);
    padding: 5px 100px 5px 10px;
    transition: padding 0.3s;
}
.searchbar i {
    font-size: 18px;
    padding: 5px;
    transform: translate(0, 0.5px);
}

.profile {
    margin-right: 5%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.profile:hover {
    background: var(--color-theme-contrast);
}
.profile i {
    font-size: 22px;
}
.profile_container {
    position: fixed;
    display: none;
    top: 85px;
    right: 1%;
}
.profile_container.show {
    display: flex;
}

.nav_login {
    margin-right: 5%;
    gap: 30px;
}



@media screen and (max-width: 768px) {
    .searchbar {
        padding: 5px 10px;
    }
}



