.navbar {
    height: var(--height-navbar);
    width: 100%;
    background: var(--color-theme);
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    transition: height 0.2s;
    z-index: 10;
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.1);
}
.logo_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hamburger_container {
  margin: 0 10%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.hamburger_container:hover {
  background: var(--color-theme-contrast);
}
.hamburger {
    display: flex;
}

.logo {
  height: 35px;
  filter: invert(1) !important;
  cursor: pointer;
}
.logo.dark {
  filter: invert(0) !important;
}
.logo_container a {
  display: block;
}

.searchbar_container {
  flex: 2;
  display: flex;
  justify-content: center;
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: var(--color-theme-contrast);
  width: 55%;
  padding: 4px 5px;
  transition: padding 0.3s;
}
.search_button {
  border: none;
  background: none;
}
.search_input {
  height: 100%;
}
.search_input::placeholder {
    font-size: 0.9em;
}
.searchbar i {
  font-size: 16px;
  padding: 7px 9px;
}
.searchbar_x {
  display: none;
  color: var(--color-reverse);
  cursor: pointer;
}

.search_icon_container {
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.search_icon_container:hover {
    background: var(--color-theme-contrast);
}
.search_icon_container i {
    font-size: 20px;
}

.profile_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.profile:hover {
  background: var(--color-theme-contrast);
}
.profile i {
  font-size: 19px;
}
.profile_container {
  position: fixed;
  display: none;
  top: 85px;
  right: 1%;
}
.profile_container.show {
  display: flex;
}

.register_container {
    height: 73px;
}
#register {
    background: var(--color-first);
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    margin: 7px 0 5px 0;
}
#register:hover {
    background: var(--color-first-dark);
}
#register i {
    margin: 0 7px 2px 0;
    font-size: 17px;
    color: white;
}
.user_name {
    font-size: 16px;
}
.manage_account {
    color: var(--color-first);
}



@media screen and (max-width: 768px) {
  .logo {
      height: 45px;
      width: 45px;
  }
  .hamburger_container {
      margin: 0 8% 0 9%;
  }
  .profile_wrapper {
      justify-content: flex-end;  
  }
  .profile {
      margin: 0 12% 0 5%;
  }
  .searchbar_container {
      display: none;
      position: absolute;
      width: 100%;
      padding: 10px 0;
  }
  .searchbar_container.show {
    display: flex;
  }
  .searchbar {
    width: 80%;
    padding: 5px 10px;
  }
  .searchbar_x {
    display: block;
  }
  .search_icon_container {
      display: flex;
  }
}
