.search {
    display: flex;
    transform: translate(0, 10px);
    margin-bottom: 30px;
}

.search_info {
    width: 15%;
}
.search_query {
    font-size: 1.2em;
}

.list_image {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
}
.list_image img {
    max-width: 70px;
}

.search_list {
    width: 65%;
    min-height: 800px;
    background: var(--color-theme);
    box-shadow: none;
    align-items: center;
    border-radius: 5px;
}
.search_number {
    font-size: 0.9em;
    color: var(--color-text-theme);
    width: 97%;
    margin: 5px;
    text-align: end;
}
.search_link {
    width: 98%;
    height: 100px;
    background: var(--color-theme);
    padding: 10px;
    border: var(--color-separator) 1px solid;
}
.search_link:hover {
    background: var(--color-theme-contrast);
}
.search_link {
    margin: 1px 15px;
}

.search_container {
    display: flex;
    align-items: space-between;
    height: 100%;
    flex-direction: column;
    padding: 0 15px;
}
.search_text {
    font-size: 1.2em;
    margin-bottom: -2px;
}
.search_container .list_symbol {
    color: var(--color-text-theme);
    font-size: 0.9em;
}

.search_classes {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.search_class {
    background: var(--color-first-background);
    border-radius: 5px;
    font-size: 0.8em;
    color: var(--color-first);
    padding: 2px 6px;
}



.search_filters {
    width: 20%;
}
