/* BUTTONS */
.button,
.normal_button,
.normal_button_outline,
.smart_button,
.smart_button_outline,
.icon_button,
.create_button,
.delete_button,
.symbol_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95em !important;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}

.normal_button {
  padding: 8px 25px;
  background: var(--color-first);
  color: white;
  transition: background 0.2s;
}
.normal_button i,
.normal_button a {
  color: white;
}
.normal_button_outline {
  background: var(--color-theme);
  border: 2px solid var(--color-reverse);
  color: var(--color-reverse);
  padding: 7px 21px;
}
.normal_button:hover {
  background: var(--color-first-hover);
}

.smart_button,
.smart_button_outline {
  padding: 10px 25.5px;
  border-radius: var(--border-radius);

  color: white;
  font-size: var(--font-size-navbar);
  background: linear-gradient(
    to right,
    var(--color-first),
    var(--color-third),
    var(--color-first)
  );
  background-size: 250%;
  box-shadow: 0 10px 20px var(--color-block-shadow);

  transition: 0.8s, padding 0s, border 0s;
}
.smart_button_outline {
  background: linear-gradient(
    to right,
    var(--color-theme) 50%,
    var(--color-third),
    var(--color-first)
  );
  padding: 7.5px 23px;
  background-size: 400%;
  color: var(--color-reverse) !important;
  border: 2.5px solid var(--color-reverse);
}
.smart_button:hover,
.smart_button_outline:hover {
  background-position: right;
}
.smart_button_outline:hover {
  border: transparent;
  color: white !important;
  padding: 10px 25.5px;
}

/* ICON BUTTON */

/*
<button class="icon_button" name="edit_username" type="submit">
  <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
  <a>Change</a>
</button>
*/

.icon_button {
  /* NEEDS TO BE TOGGLED (CLASS) IN JAVASCRIPT */
  border: 1px transparent solid;
  padding: 8px 15px;
  min-width: 85px;
  min-height: 40px;
  transition: width 0.2s, height 0.2s;
  background: var(--color-first);
  color: white;
  background: linear-gradient(
    to right bottom,
    var(--color-first),
    var(--color-first-hover),
    var(--color-first),
    var(--color-first-hover),
    var(--color-first)
  );
  transition: background 0.5s, animation 0.5s;
  background-size: 500% 500%;
}
.icon_button > i {
  color: var(--color-reverse);
  font-size: 25px;
  position: absolute;
  opacity: 0;
  transition: transform 0.15s ease, opacity 0.2s;
  transform: translate(-30px, 0);
}
.icon_button > a {
  position: absolute;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.icon_button.show {
  animation: background_flow 5s linear infinite reverse;
  border: 1px var(--color-reverse) solid;
  padding: 8px 15px;
  min-width: 60px;
}
.icon_button.show > i {
  opacity: 1;
  transform: translate(0, 0);
}
.icon_button.show > a {
  opacity: 0;
}

.create_button,
.delete_button {
  background: transparent;
  height: 40px;
  width: 40px;
}
.create_button > i,
.delete_button > i {
  font-size: 25px;
  color: rgb(0, 255, 0);
}
.delete_button > i {
  color: rgb(255, 0, 0);
  font-size: 27px;
}

.symbol_button {
  height: 50px;
  width: 50px;
  border: 1px solid transparent;
}
.symbol_button i {
  font-size: 27px;
  color: white;
}
.symbol_button:hover {
  background: var(--color-theme-contrast);
  border: 1px solid var(--color-reverse);
}
.symbol_button:hover i {
  color: var(--color-reverse);
}

/* ANIMATED ARROW BUTTON */

/*
<button class="button_animated">
  <div class="button_arrow">
    <div class="button_arrow_line button_arrow_line1"></div>
    <div class="button_arrow_line button_arrow_line2"></div>
    <div class="button_arrow_line button_arrow_line3"></div>
  </div>
</button>
*/

.button_animated {
  border-radius: 10px;
  background: linear-gradient(
    to right bottom,
    var(--color-first),
    var(--color-first-hover),
    var(--color-first),
    var(--color-first-hover),
    var(--color-first)
  );
  transition: background 0.5s, animation 0.5s;
  padding: 32px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: background_flow 15s linear infinite;
  background-size: 500% 500%;
}
@keyframes background_flow {
  0% {
    background-position: 250% 250%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.button_animated .button_arrow {
  position: absolute;
  font-size: 25px;
  transform: translate(2px, 0);
  transition: transform 0.3s;
}
.button_animated .button_arrow .button_arrow_line {
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: transform 0.3s, width 0.3s;
}
.button_animated .button_arrow .button_arrow_line1 {
  width: 15px;
  transform: rotate(45deg) translate(8px, -8px);
}
.button_animated .button_arrow .button_arrow_line2 {
  transform: translate(-4px, 0);
  width: 21px;
  padding-right: 4px;
}
.button_animated .button_arrow .button_arrow_line3 {
  width: 15px;
  transform: rotate(-45deg) translate(8px, 8px);
}

.button_animated:hover {
  animation: background_flow 5s linear infinite reverse;
}
.button_animated:hover .button_arrow {
  transform: translate(1px, 0);
}
.button_animated:hover .button_arrow .button_arrow_line1 {
  transform: rotate(45deg) translate(5px, -5px);
}
.button_animated:hover .button_arrow .button_arrow_line2 {
  padding-right: 0;
}
.button_animated:hover .button_arrow .button_arrow_line3 {
  transform: rotate(-45deg) translate(5px, 5px);
}
