.list {
    width: var(--width-sidebar);
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: var(--color-theme);
}

.list_link, .list_nolink {
    display: block;
    height: 50px;
    align-items: center;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
}
.list_nolink { 
    cursor: initial;
}
.list_link:hover {
    background: var(--color-light);
}
.list_link:hover > .list_icon {
    color: var(--color-first);
}

.list_icon {
    font-size: 20px;
    margin: 20px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
}
.list_text {
    margin: 20px 20px 20px 0;
}

.list_separator {
    height: 1px;
    width: 245px;
    margin: 3px 8px;
    padding: 0.5px 0;
    background: var(--color-separator);
}

.list_container {
    display: flex;
    flex-direction: column;
}
.list_con_text {
    font-size: 14px;
}


.list_path {
    height: 40px;
}
.page_path {
    position: absolute;
    margin-left: 64px;
    display: flex;
    align-items: center;
    height: 40px;
}
.page_path_part {
    font-size: 14px;
    color: var(--color-first);
    text-decoration: none;
}

.list_form button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--color-theme);
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
}
.list_form:hover button {
    background: var(--color-light);
}

.dark_mode_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 25px;
    width: 25px;
}
.dark_icon, .light_icon {
    position: absolute;
    opacity: 0;
    margin: 0;
    transform: translate(0, -10px);
    transition: transform 0.3s;
}
.light_icon {
    transform: translate(0, 10px);
}
.dark_icon.dark_show, .light_icon.dark_show {
    opacity: 1;
    transform: translate(0, 0);
}
.list_link:hover > .dark_mode_icons > .dark_icon, 
.list_link:hover > .dark_mode_icons > .light_icon {
    color: var(--color-first);
}

