.list {
    width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.list_link {
    height: 50px;
    align-items: center;
    display: flex;
    border-radius: 10px;
}

.list_link:hover {
    background: var(--color-light);
}
.list_link:hover > .list_icon {
    color: var(--color-first) !important;
}

.list_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px;
    margin: 20px;
}

.list_text {
    margin: 1px 0 0 60px;
    position: absolute;
    cursor: pointer;
}

.list_separator {
    height: 1px;
    width: 225px;
    margin: 4px;
    background: var(--color-separator);
}

.list_link .no_button {
    margin: 1px 0 0 55px;
}
.list_link:hover .no_button {
    background: var(--color-light);
}
