/* HAMBURGER */

/*
<div class="hamburger">
  <div class="hamburger_line hamburger_line_active1"></div>
  <div class="hamburger_line hamburger_line_active2"></div>
  <div class="hamburger_line hamburger_line_active3"></div>
</div>
*/

.hamburger {
  height: 18px;
  width: 20px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.hamburger_line {
  height: 2px;
  width: 20px;
  background: var(--color-reverse);
}
.hamburger_line_active1 {
  transform: rotate(45deg) translate(7px, 7px);
}
.hamburger_line_active2 {
  opacity: 0;
}
.hamburger_line_active3 {
  transform: rotate(-45deg) translate(6.2px, -6.2px);
}
