/* HAMBURGER */

/*
<div class="hamburger">
  <div class="hamburger_line hamburger_line_active1"></div>
  <div class="hamburger_line hamburger_line_active2"></div>
  <div class="hamburger_line hamburger_line_active3"></div>
</div>
*/

.hamburger, .hamburger_static {
  height: 15px;
  width: 20px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.hamburger_line {
  height: 2px;
  width: 17px;
  background: var(--color-reverse);
}

.hamburger.show {
    transform: translate(-2px, 0);
    padding-right: 10px;
}

.hamburger_line {
    transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
}

.hamburger.show .hamburger_line1 {
    transform: translate(6px, 6.1px) rotate(45deg);
}

.hamburger.show .hamburger_line2 {
    transform: translate(-20px, 0);
    opacity: 0;
    visibility: hidden;
}

.hamburger.show .hamburger_line3 {
    transform: translate(6px, -5.5px) rotate(-45deg);
}