
/* SHORTCUTS */

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.grid_system {
  display: grid;
  grid-gap: var(--gap);
}
.transition {
  transition: 0.3s;
}
.border {
  border: 1px solid red !important;
}
.border_b {
  border: 1px solid rgb(0, 140, 255) !important;
}


/* FLEX OBJECTS */

.flex_box,
.flex_form,
.flex_gap {
  display: flex;
}
.flex_box {
  align-items: center;
  justify-content: center;
}
.flex_form {
  align-items: center;
  flex-direction: column;
}
.flex_gap {
    gap: 10px;
}


/* GRID VIEW */

.view {
  width: 100%;
  display: none;
  gap: var(--gap);
}
.view.active {
  width: 100%;
  display: grid;
}
.view_item {
  border-radius: var(--border-radius);
  background: var(--color-theme-contrast);
}
.view_header,
.view_item_sheader {
  color: var(--color-text-theme);
  margin: 12px;
}
.view_header {
  text-transform: uppercase;
}
.view_item_sheader {
  font-size: 0.9em;
}

