.navbar {
    background: transparent !important;
}
.logo {
    filter: invert(0) !important;
}
#sign_in {
    color: white !important;
}
.hamburger_container:hover {
    background: var(--color-first-dark);
}
.hamburger_line {
    background: white !important;
}
.profile i {
    color: white;
}
.profile:hover {
    background: var(--color-third-dark);
}

.external_logins {
    display: flex;
}
.icon_button {
    margin: 10px 20px;
    height: 55px;
    width: 55px;
    transition: background 0.2s !important;
}
.icon_button:hover {
    background: var(--color-theme) !important;
}
.icon_button i {
    font-size: 30px;
}

.icon_button {
    transition: color 0.2s;
    color: white !important;
}

.fa-google-button {
    background: red !important;
}
.fa-facebook-f-button {
    background: #4267B2 !important;
}
.fa-microsoft-button {
    background: #00adef !important;
}

.icon_button:hover .fa-google {
    color: red !important;
}
.icon_button:hover .fa-facebook-f {
    color: #4267B2 !important;
}
.icon_button:hover .fa-microsoft {
    color: #00adef !important;
}

.checkbox {
    margin-bottom: 10px;
}

.register_button {
    background: var(--color-light);
    color: var(--color-reverse) !important;
    margin-bottom: 20px;
}
.register_button:hover {
    background: var(--color-theme-contrast);
}
#remember-me {
    font-size: 0.95em;
}
#forgot-password, #resend-confirmation {
    font-size: 0.9em;
}


