@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Spectral&display=swap");

/* This file includes all settings, classes and styles of pre-edited elements */

/* SETTINGS */
:root {
    /* COLOR THEME VARIATIONS */
    --color-theme: white;
    --color-reverse: black;
    --color-theme-contrast: rgb(243, 243, 243);
    --color-light: rgb(236, 236, 236);
    --color-reverse-light: rgb(85, 85, 85);
    --color-blur: rgba(255, 255, 255, 0.6);
    --color-block-shadow: rgb(0 0 0 / 0.2);
    --color-text-theme: rgb(160, 160, 160);
    --color-separator: rgb(220, 220, 220);
    /* COLOR VARIATIONS */
    --color-first: rgb(19, 98, 218);
    --color-first-dark: rgb(10, 71, 161);
    --color-first-light: rgba(19, 98, 235);
    --color-second: rgb(2, 184, 93);
    --color-second-dark: rgb(2, 160, 54);
    --color-second-light: rgb(57, 238, 149);
    --color-third: rgb(156, 14, 221);
    --color-third-dark: rgb(124, 20, 196);
    --color-third-light: rgb(193, 70, 255);
    /* LAYOUT SIZES */
    --height-navbar: 80px;
    --width-sidebar: 280px;
    --border-radius: 5px;
    --gap: 12px;
}
.dark {
    /* COLOR THEME VARIATIONS */
    --color-theme: rgb(20, 20, 20);
    --color-reverse: white;
    --color-theme-contrast: rgb(25, 25, 25);
    --color-light: rgb(35, 35, 35);
    --color-reverse-light: rgb(209, 209, 209);
    --color-blur: rgba(0, 0, 0, 0.6);
    --color-block-shadow: rgba(20, 20, 20, 0.1);
    --color-text-theme: rgb(112, 112, 112);
    --color-separator: rgb(45, 45, 45);
    /* COLOR VARIATIONS */
    --color-first: rgb(19, 145, 218);
    --color-first-dark: rgb(10, 71, 161);
}


/* GENERAL PRESETS */

* {
    font-size: 1em;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    transition: 0;
    scroll-behavior: smooth;
    color: var(--color-reverse);
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-first);
}


/* HTML PRESETS */

body {
    background: var(--color-theme);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
